<!DOCTYPE html>
<html lang="en">
<head>
    <title>Покупка недвижимости</title>
    <link rel="stylesheet" href={{url_for("static", filename = "byeestate.css")}}>
</head>
<body>
    <div class="container">
        <h1 class="title">Купить недвижимость</h1>
        <form method="post" class="form">
            <input type="hidden" name="account" value="{{ account }}">
            <div class="form-group">
                <label for="idAD" class="label">ID объявления:</label>
                <input type="number" id="idAD" name="idAD" class="input">
            </div>
            <button type="submit" name="action" value="Купить" class="button buy-button">Купить</button>
            <button type="submit" name="action" value="Назад" class="button back-button">Назад</button>
        </form>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
