<!DOCTYPE html>
<html lang="en">
<head>
    <title>Создание недвижимости</title>
    <link rel="stylesheet" href={{url_for("static", filename = "createestate.css")}}>
</head>
<body>
    <div class="container">
        <h1 class="title">Создать недвижимость</h1>
        <form method="post" class="form">
            <input type="hidden" name="account" value="{{ account }}">
            <div class="form-group">
                <label for="address" class="label">Адрес:</label>
                <input type="text" id="address" name="address" class="input">
            </div>
            <div class="form-group">
                <label for="square" class="label">Площадь:</label>
                <input type="number" id="square" name="square" class="input">
            </div>
            <div class="form-group">
                <label for="type" class="label">Тип (0 - квартира, 1 - дом):</label>
                <input type="number" id="type" name="type" class="input">
            </div>
            <button type="submit" name="action" value="Создать" class="button create-button">Создать</button>
            <button type="submit" name="action" value="Назад" class="button back-button">Назад</button>
        </form>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
