<!DOCTYPE html>
<html lang="en">
<head>
    <title>Недвижимость</title>
    <link rel="stylesheet" href={{url_for("static", filename = "index.css")}}>
</head>
<body>
    <h1 class="index-title">Добро пожаловать в приложение недвижимости!</h1>
    <p class="index-text">Выберите действие:</p>
    <form method="post" class="index-form">
        <button type="submit" name="button" value="Авторизация" class="index-button">Авторизация</button>
        <button type="submit" name="button" value="Регистрация" class="index-button">Регистрация</button>
    </form>
</body>
</html>
